# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ryfyg\Desktop\Spring Tutorials\Extending, Securing, and Dockerizing Spring Boot Microservice\explorecali\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
