# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ryfyg\Desktop\Spring Tutorials\Test-Driven Development with JUnit\Exercise Files\Chapter3\03_02\begin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
