# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ryfyg\Desktop\Spring Tutorials\Spring Data 2\Ex_Files_Spring_Data_Upd\Exercise Files\Chapter 3\03_03\university\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
